{% set module_path = _self|split('/templates') %}
<script src="{{ module_path[0] }}/includes/js/d3.min.js" type="text/javascript"></script>

<div class="weatherWidget-{{ wconfig.widget_id }}"></div>

<script type='text/javascript' id='wfmd3-js-js-before'>
window.weatherWidgetConfig =  window.weatherWidgetConfig || [];
window.weatherWidgetConfig.push({
   selector:".weatherWidget-{{ wconfig.widget_id }}",
   apiKey:"{{ wconfig.api_key }}", //lots of usage? Sign up for your personal key
   location:"{{ wconfig.location }}", //enter an addres
   unitGroup:"{{ wconfig.unit }}", //"us" or "metric"
   forecastDays:{{ wconfig.forecast_days }}, //how many days forecast to show
   title:"{{ wconfig.title }}", //optional title to show in the 
   showTitle:{% if wconfig.show_title %} true{% else %} false{% endif %},
   showConditions:{% if wconfig.show_condition %} true{% else %} false{% endif %},
});	
</script>
{% if wconfig.mode == 'd3' %}
<script src="{{ module_path[0] }}/includes/js/weather-forecast-widget-d3.js" type="text/javascript"></script>
{% else %}
<script src="{{ module_path[0] }}/includes/js/weather-forecast-widget-simple.js" type="text/javascript"></script>
{% endif %}